@media(max-width:576px){
    .header1{
        display: none;
    }
    /* section2  */
    .section2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .section2 .left{
        width: 90%;
        padding: 70px 70px 0px 40px;
    }
    .section2 .left h1{
        font-size: 40px;
    }
    .section2 .left h3{
        padding: 40px 0px 10px 0px;
    }
    .section2 .left p{
        font-size: 17px;
        line-height: 33px;
    }
    .section2 .right img{
        height: 300px;
        display: none;
        padding-top: 20px;
    }
    .header1{
        display: none;
    }
     /* section3 */
.section3{
    padding: 50px 70px 50px 70px;
    background-color: rgb(243 244 246);
}
.section3 .trending{
    display: flex;
    flex-direction: column;
    width: 99%;
}
.section3 .trending h1{
    width: 90%;
}
.section3 .trending h2{
    display: none;
    width: 10%;
}
.section3 .story1 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px 30px;
}
 /* section4 */
 .section4{
    padding: 50px 70px 50px 70px;
    background-color: rgb(243 244 246);
}
.section4 .trending{
    display: flex;
    flex-direction: column;
    width: 99%;
}
.section4 .trending h1{
    width: 90%;
}
.section4 .trending h2{
    display: none;
    width: 10%;
}
.section4 .story1 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px 30px;
}
  /* section 5 */
  .section5 .trending{
    display: flex;
    flex-direction: unset;
    width: 99%;
}
.section5 .trending h1{
    width: 90%;
}
.section5 .trending h2{
    width: 10%;
    display: none;
}
.section5 .story1 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px 30px;
}
/* section 8 */
.section8 {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 50px;
    gap: 30px;
    width: 100%;
}
.section8 .grid1 .grid{
    width: 100%;
}
.section8 .grid1 .grid .left{
    width: 90%;
}
.section8 .grid1 .grid .right{
    width: 10%;
}
.section8 .grid1 ul{
    width: 100%;
    display: none;
}
.section8 .grid1 ul li{
    list-style: none;
}
.section8 .grid1 ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.section8 .right button{
    display: block;
    width: 10%;
}
/* footer 1 */
.footer1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.footer1 .grid .before::before{
    top: 15%;
    left: 0%;
}
/* fooetr 2 */
.footer2{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px 0px 0%;
}
.footer2 .left{
    width: 100%;
    padding: 0px 0px 0px 10%;
}
.footer2 .right{
    width: 100%;
    margin-left: 0%;
}
.footer2 .right ul{
    gap: 0px 10px;
    display: flex;
    flex-direction: column;
}
/* categories page */
/* category-sec1 */
.category-sec1 .story1 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px 30px;
}
/* write page */
/* write-sec1 */
.write-sec1{
    padding: 20px 0px;
}
.write-sec1 .content{
    top: 14%;
    left: 12%;
}
/* write-sec2 */
.write-sec2{
    padding: 20px 10px;
}
.write-sec2 .main{
    width: 100%;
    height: 200px;
}
.write-sec2 .main .image a img{
    height: 135px;
}
/* account page */
/* acount-sec1 */
.acount-sec1{
    flex-direction: column-reverse;
}
.acount-sec1 .left-header{
    width: 100%;
}
.acount-sec1 .right-content{
    width: 100%;
}
.acount-sec1 .left-header ul{
    flex-direction: column;
    margin:20px 0px 20px -10%;
}
.acount-sec1 .left-header ul li{
    padding: 10px 0px 10px 0px;
}
/* message page */
.acount-sec1 .right-content .message-main1{
    width: 25%;
    padding: 20px 10px 20px 10px;
}
.acount-sec1 .right-content .message-main2{
    width: 74%;
}
.acount-sec1 .right-content .message-main1 .flex{
    gap: 0%;
}
.acount-sec1 .right-content .message-main1 .flex h1{
    display: none;
}
.acount-sec1 .right-content .message-main1 .flex h2{
    font-size: 30px;
    padding: 0px 9px;
}
.acount-sec1 .right-content .message-main1 .none{
    display: none;
}
.acount-sec1 .right-content .message-main1 .copy{
    padding: 0px 0px 7px 0px;
}
.acount-sec1 .right-content .message-main1 .copy .profile{
    width: 100%;
    padding: 5px 0px 0px 0px;
}
.acount-sec1 .right-content .message-main1 .copy .detail{
    display: none;
}
.acount-sec1 .right-content .message-main2 .icon .round{
    left: 40%;
}
.acount-sec1 .right-content .message-main2 .icon .messanger i{
    padding: 19px 0px 0px 35px;
}
/* frineds page */
.acount-sec1 .right-content .friends_page .sec1{
    width: 90%;
}
.acount-sec1 .right-content .friends_page .sec1 input{
    width: 60%;
    padding-left: 10px;
}
.acount-sec1 .right-content .friends_page .members{
    flex-direction: column;
}
.acount-sec1 .right-content .friends_page .members .member1{
    width: 100%;
}
.acount-sec1 .right-content .friends_page .members .member2{
    text-align: start;
    width: 100%;
}
.acount-sec1 .right-content .friends_page .members .member3{
    text-align: start;
    width: 100%;
}
.acount-sec1 .right-content .friends_page .sec2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.acount-sec1 .right-content .friends_page .sec2 .profileee .followers{
    padding: 0px 10% 20px 10%;
}
}